<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Taskly</title>

    <%- include ./base/styles.ejs %>
    <link rel="stylesheet" href="styles/home.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <header>
          <a class="btn btn-danger" href="/sair" style="position:absolute;margin-top: 5px;color: white;">Sair</a>
        <h1>Taskly</h1>
      </header>
      <div class="tasks-content row">
        <div class="tasks-container-wrapper col-md">
          <div class="tasks-container">
            <h2>Backlog</h2>
            <div class="task-list-container">
              <ul class="task-list">
                <% for(let tarefa of tarefas.backlog) { %>
                  <li class="task">
                    <a class="task-anchor"  name="<%= tarefa.id %>"></a>
                    <p class="task-title"><%= tarefa.descricao %></p>
                    <p class="task-date"><%= tarefa.created_at %></p>
                    <p class="task-progress-label">Progresso da tarefa:</p>
                    <form name="progresso-form-<%= tarefa.id %>" method="POST" action="tarefas/progresso">
                      <input type="hidden" name="id" value="<%= tarefa.id %>"/>
                      <input class="task-progress" type="range" min="0" max="100" value="<%= tarefa.progresso %>" name="progresso" onchange="document.forms['progresso-form-<%= tarefa.id %>'].submit()"/>
                    </form>
                    <div class="task-actions">
                      <a class="button" href="/tarefas/delete?id=<%= tarefa.id %>"><i class="material-icons">delete</i></a>
                      <button class="button btn-editar-tarefa" data-tarefa-id="<%= tarefa.id %>" data-tarefa-descricao="<%= tarefa.descricao %>" onclick="editarTarefa(event)"><i class="material-icons">edit</i></button>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
            <div class="task-list-footer">
              <button class="button" id="btn-nova-tarefa">Nova tarefa</button>
            </div>
            <div class="form-container" id="form">
              <form name="tarefa-form" method="POST" action="tarefas/">
                <label for="tarefa-descricao">Descrição da tarefa</label>
                <input id="tarefa-id" type="hidden" name="id"/>
                <input id="tarefa-descricao" type="text" maxlength="100" name="descricao" placeholder="Tarefa legal" required="required"/>
                <input class="button" type="submit" value="Enviar"/>
                <input class="button" id="btn-cancelar" type="button" value="Cancelar"/>
              </form>
            </div>
          </div>
        </div>
        <div class="tasks-container-wrapper col-md">
          <div class="tasks-container">
            <h2>Em andamento</h2>
            <div class="task-list-container">
              <ul class="task-list">
                <% for(let tarefa of tarefas.emAndamento) { %>
                  <li class="task">
                    <a class="task-anchor"  name="<%= tarefa.id %>"></a>
                    <p class="task-title"><%= tarefa.descricao %></p>
                    <p class="task-date"><%= tarefa.created_at %></p>
                    <p class="task-progress-label">Progresso da tarefa:</p>
                    <form name="progresso-form-<%= tarefa.id %>" method="POST" action="tarefas/progresso">
                      <input type="hidden" name="id" value="<%= tarefa.id %>"/>
                      <input class="task-progress" type="range" min="0" max="100" value="<%= tarefa.progresso %>" name="progresso" onchange="document.forms['progresso-form-<%= tarefa.id %>'].submit()"/>
                    </form>
                    <div class="task-actions">
                      <a class="button" href="/tarefas/delete?id=<%= tarefa.id %>"><i class="material-icons">delete</i></a>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
        <div class="tasks-container-wrapper col-md">
          <div class="tasks-container">
            <h2>Concluídas</h2>
            <div class="task-list-container">
              <ul class="task-list">
                <% for(let tarefa of tarefas.concluidas) { %>
                  <li class="task">
                    <a class="task-anchor" name="<%= tarefa.id %>"></a>
                    <p class="task-title"><%= tarefa.descricao %></p>
                    <p class="task-date"><%= tarefa.created_at %></p>
                    <p class="task-progress-label">Progresso da tarefa:</p>
                    <form name="progresso-form-<%= tarefa.id %>" method="POST" action="tarefas/progresso">
                      <input type="hidden" name="id" value="<%= tarefa.id %>"/>
                      <input class="task-progress" type="range" min="0" max="100" value="<%= tarefa.progresso %>" name="progresso" onchange="document.forms['progresso-form-<%= tarefa.id %>'].submit()"/>
                    </form>
                    <div class="task-actions">
                      <a class="button" href="/tarefas/delete?id=<%= tarefa.id %>"><i class="material-icons">delete</i></a>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include ./base/scripts.ejs %>
    <script src="scripts/home.js"></script>
  </body>
</html>